@font-face {
    font-family: 'Arimo';
    src: url('/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot');
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.ttf') format('truetype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.svg#OpenDyslexic') format('svg');
}

h1 {
    font-family: Arimo;
}
h2 {
    font-family: Arimo;
}
h3 {
    font-family: Arimo;
}
p {
    font-family: Arimo;
}
li {
    font-family: Arimo;
    padding-bottom: 20px;
}
blockquote {
    font-family: Arimo;
    background-color: #dddddd;
}
table {
    font-family: Arimo;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}


.banner {
    font-family: Arimo;
    width: 100%;
    overflow: auto;
}
.banner a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
}
