@font-face {
    font-family: 'Arimo';
    src: url('/fonts/Arimo-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot');
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.ttf') format('truetype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.svg#OpenDyslexic') format('svg');
}

h1 {
    font-family: OpenDyslexic;
    float: right;
}
h2 {
    font-family: OpenDyslexic;
    float: right;
}
h3 {
    font-family: OpenDyslexic;
    float: right;
}
p {
    font-family: OpenDyslexic;
    float: right;
}
li {
    font-family: OpenDyslexic;
    float: right;
}
