
@font-face {
    font-family: 'OpenDyslexic';
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot');
    src: url('fonts/OpenDyslexic/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.ttf') format('truetype'),
         url('fonts/OpenDyslexic/OpenDyslexic-Regular.svg#OpenDyslexic') format('svg');
}
