@font-face {
    font-family: 'OpenDyslexic';
    src: url('/fonts/OpenDyslexic/OpenDyslexic-Regular.eot');
    src: url('/fonts/OpenDyslexic/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype');
}

