@font-face {
    font-family: Arimo;
    src: url(/fonts/Arimo/Arimo-VariableFont_wght.ttf);
}
@font-face {
    font-family: OpenDyslexic-Regular;
    src: url(/fonts/OpenDyslexic/OpenDyslexic-Regular.otf);
}
  
p {
    font-family: Arimo;
}
