@font-face {
    font-family: Arimo;
    src: url(/fonts/Arimo-VariableFont_wght.ttf);
}
@font-face {
    font-family: OpenDyslexic;
    src: url(/fonts/OpenDyslexic/OpenDyslexic-Regular.otf) format("opentype");
}
  
h1 {
    font-family: Arimo;
}
h2 {
    font-family: Arimo;
}
h3 {
    font-family: Arimo;
}
p {
    font-family: OpenDyslexic;
}
li {
    font-family: Arimo;
}
